body {
    font-family: Calibri, Arial, sans-serif; /* Calibri como primeira escolha, seguida de Arial e, em seguida, fontes genéricas sans-serif */
    margin: 0;
    padding: 0;
    background-color: #2c467d; /* Cor azul claro */
    color: white; /* Cor do texto branco */
}

/* Estilo para os textos dentro dos elementos p e span */
p, span, .texto {
    color: rgb(255, 255, 255); /* Cor do texto branco */
    font-weight: bold; /* Negrito */
    font-size: larger; /* Um pouco maior que o padrão */
}

h1, h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.titulo-centralizado {
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #6ac3fb;
    text-shadow: 0.1em 0.1em #2c2542;
}

.tituloi {
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #6ac3fb;
    text-shadow: 0.2em 0.2em #2c2542;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    font-size: 18px;
}

.integrante {
    margin-bottom: 20px;
    overflow: auto; /* Limpa a margem inferior causada pelo display inline-block */
}

.integrante img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.integrante .info {
    overflow: hidden; /* Limpa o float dos elementos filhos */
}

.integrante p {
    margin: 0;
}

.role {
    display: block;
    margin-top: 5px; /* Ajuste o valor conforme necessário */
}

.imagens img {
    margin-bottom: 10px;
}
